.lock-page .page-header, .page-header {
    min-height: 100vh;
    display: inherit;
}

.wrapper.wrapper-full-page {
    height: auto;
    min-height: 100vh;
}

.card-login {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.page-header .container {
    padding-top: 18vh!important;
}