<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Lista de dragões</h4>
                      <p class="card-category"> Listagem detalhada de cada dragão</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>Id</th>
                                  <th>Data de criação</th>
                                  <th>Nome</th>
                                  <th>Tipo</th>
                                  <th>Histórias</th>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let dragon of dragonList">
                                      <td>{{dragon.id}}</td>
                                      <td>{{dragon.createdAt}}</td>
                                      <td>{{dragon.name}}</td>
                                      <td>{{dragon.type}}</td>
                                      <td>{{dragon.histories}}</td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
